.container {
    display: flex;
    border: 10px solid goldenrod;
    height: 100vh;
    align-items: flex-start;
    /* align-content: space-between; */
    flex-wrap: wrap;
    flex-direction: column;
}

.item {
    font-size: 2em;
    text-align: center;
    width: 250px;
    flex:1 1 200px;
    /* flex:1; */
}

.item1 {
    background-color: violet;
}

.item2 {
    background-color: indigo;
    flex-grow: 0;
}

.item3 {
    background-color: blue; 
}

.item4 {
    background-color: green;
}

.item5 {
    background-color: yellow; 
    flex-grow: 10;
}

.item6 {
    background-color: orange;
}

.item7 {
    background-color: red; 
}

.item8 {
    background-color: purple;
}

.item9 {
    background-color: pink; 
}

.item10 {
    background-color: brown;
}