.container {
    display: flex;
    border: 10px solid goldenrod; 
    /* For pic-(x+?) */
    /* height: 100vh; */
    /* For pic-(1:6) */
    justify-content: flex-start; 
    /* Defines what to do with the extra space on main axis */
    /* For pic-(x+6) */
    flex-direction: row;
}

.item {
    font-size: 2em;
    text-align: center;
}

.item1 {
    background-color: violet;
}

.item2 {
    background-color: indigo;
}

.item3 {
    background-color: blue;
}

.item4 {
    background-color: green;
}

.item5 {
    background-color: yellow;
}

.item6 {
    background-color: orange;
}

.item7 {
    background-color: red;
}

.item8 {
    background-color: purple;
}

.item9 {
    background-color: pink;
}

.item10 {
    background-color: brown;
}