.container {
    display: flex;
    border: 10px solid goldenrod;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

.item {
    font-size: 2em;
    text-align: center;
    width: 33.33333%;
}

.item1 {
    background-color: violet;
}

.item2 {
    background-color: indigo;
}

.item3 {
    background-color: blue;
}

.item4 {
    background-color: green;
}

.item5 {
    background-color: yellow;
}

.item6 {
    background-color: orange;
}

.item7 {
    background-color: red;
}

.item8 {
    background-color: purple;
}

.item9 {
    background-color: pink;
}

.item10 {
    background-color: brown;
}